<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075357782913-el52gj08g5jmgn9khrf3g89cvkflh9p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075357782913-el52gj08g5jmgn9khrf3g89cvkflh9p2</string>
	<key>API_KEY</key>
	<string>AIzaSyAI5Re0rcFhaZwceMofNcVFnKrprUe5fgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1075357782913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LiveActionRPG.japan288300</string>
	<key>PROJECT_ID</key>
	<string>liveactionrpg-c2f75</string>
	<key>STORAGE_BUCKET</key>
	<string>liveactionrpg-c2f75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075357782913:ios:4dce8c72b59d86bbd30e80</string>
</dict>
</plist>